
<mat-toolbar style="background-color: white;">
    <span style="margin-left: 50px;" id="titulo">Clave</span>
    <div class="example-spacer"></div>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="contenedor mat-elevation-z4">
    <div class="title">
      <mat-icon>lock</mat-icon> <h3>Modificar Clave</h3>
    </div>
    <form [formGroup]="formulario">
      <mat-grid-list cols="3" rowHeight="80px">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput [value]="usumod" formControlName="username" readonly>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="outline">
            <mat-label>Nueva Clave</mat-label>
            <input matInput formControlName="clave" [type]="hide ? 'password' : 'text'" required>
            <mat-error>{{ getError('clave')}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="outline">
            <mat-label>Confirmar Clave</mat-label>
            <input matInput formControlName="repclave" [type]="hide2 ? 'password' : 'text'" required>
            <mat-error >{{ getError('repclave')}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1" >
          <button mat-raised-button color="primary" class="boton" (click)="submit()" [disabled]="formulario.invalid"><mat-icon>save</mat-icon> Guardar</button> 
          <button mat-stroked-button class="botoncancelar" routerLink="/dashboard/usuarios">Cancelar</button> 
        </mat-grid-tile>
        
      </mat-grid-list>
    </form>
  </div>
  