.title{
    display: flex;
}
.contenedor{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

mat-form-field{
    width: 95%;
}
.boton{
    width: 120px;
    height: 40px;
    color: white;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info > div{
    width: 80%;
}
.imprimir{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.error{
    color: red;
    font-weight: 300;
    
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spinner >mat-spinner{
    margin-top: 200px;
}
.spinner > h3{
    margin-top: 10px;
}
.btn-imprimir{
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
}

@media only screen and (max-width: 1600px) {
    .info{
        flex-direction: column;
        align-items: center;
    }
    .info>div{
        width: 80%;
    }
  }