<mat-toolbar style="background-color: white;">
  <mat-icon style="margin-left: 50px;">pets</mat-icon>
  <span id="titulo">Perfil de Veterinaria</span>
  <div class="example-spacer"></div>
  <!-- <div class="btn-imprimir">
        <button mat-raised-button color="primary" class="boton"><mat-icon>print</mat-icon> Imprimir</button> 
    </div> -->
</mat-toolbar>
<mat-divider></mat-divider>
<div class="spinner" *ngIf="!veterinaria">
  <mat-spinner></mat-spinner>
  <h3>Cargando...</h3>
</div>

<div class="contenedor mat-elevation-z4" *ngIf="veterinaria">
  <div class="title">
    <mat-icon>pets</mat-icon>
    <h3> Informacion de Veterinaria</h3>
  </div>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput [value]="veterinaria.nombre" readonly>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Telefono/Celular</mat-label>
        <input matInput [value]="veterinaria.telefono" readonly>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
      <img [src]="veterinaria.imagen" class="foto" alt="Veterinaria">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Horario de atencion</mat-label>
        <input matInput [value]="veterinaria.horarioatencion" readonly>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Estado</mat-label>
        <input matInput value="Activo" readonly *ngIf="veterinaria.estado">
        <input matInput value="Inactivo" readonly *ngIf="!veterinaria.estado" class="error">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Direccion</mat-label>
        <input matInput [value]="veterinaria.direccion" readonly>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Fecha de creacion</mat-label>
        <input matInput [value]="veterinaria.fechacre | date" readonly>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-form-field appearance="legacy">
        <mat-label>Descripcion</mat-label>
        <input matInput [value]="veterinaria.descripcion" readonly>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="title">
    <mat-icon>person</mat-icon>
    <h3> Propietarios</h3>
  </div>
  <mat-grid-list cols="3" rowHeight="60px" >
    <mat-grid-tile colspan="3" rowspan="1" *ngIf="propietarios.length!==0">
      <mat-list style="width: 100%;">
        <mat-list-item *ngFor="let item of propietarios">
          <img [src]="item.foto" alt="Veterinarios(as)" mat-list-avatar>
          <div mat-line>{{item.nombre}}</div>
          <div mat-line>{{item.ap}} {{item.am}}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1" *ngIf="propietarios.length===0">
      <span class="error"> No Existen Dueños para esta Veterinaria </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>