.contenedor{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field{
    width: 95%;
  }
  .boton{
    border-radius: 100px !important;
    width: 120px;
    height: 40px;
    color: white;
    margin-right: 12px;
  
  }
  .botoncancelar{
    border-radius: 100px !important;
    width: 120px;
    height: 40px;
  }
  .title{
    display: flex;
    justify-content: space-between;
  }
  .cursor{
    cursor: pointer;
  }
