.contenedor{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

mat-form-field{
    width: 95%;
}
.uploadimg{
    /* background-color: rgb(245, 245, 245);  */
    display: flex; 
    align-items: center; 
    flex-direction: column;
    width: 100%; 
    height: 100%;
}
.uploadimg > img {
    width: 100px;
    margin-top: 20px;
    height: 100px;
}

.uploadimg > button{
    margin-top: 20px;
}

.boton{
    border-radius: 100px !important;
    width: 120px;
    height: 40px;
    color: white;
    margin: 0 auto;
}
.title{
    display: flex;
}
.danger{
    color:red;
    padding: 15px;
    background-color: rgb(255, 235, 235);
    border-radius: 10px;
}
.ok{
    color: rgb(17, 179, 17);
    padding: 15px;
    background-color: rgb(220, 252, 220);
    border-radius: 10px;
}

/*Input file*/
.invoiceBox{margin-top: 10px;}
.invoiceBox > input {
    display: none;

  }
  .invoiceBox label {
      display: flex;

  }
  .boxFile {
      display: inline-block;
    width: 100%;
    border: 2px solid rgb(42, 187, 85);
    background: #fff;
    color: rgb(42, 187, 85);
    padding: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* border: 5px solid red; */
    
  }
  .boxFile:hover {
      cursor: pointer;
      background: rgb(42, 187, 85);
      color: #fff;
  }
  .boxFile i {
      display: block;
      font-size: 26px;
      margin-bottom: 5px;
  }
  .attached,
  .attached:hover,
  .attached:focus {
    background: green;
    color: #fff;
    border: 1px solid green;
  }
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    /* border: 5px solid red; */
    
}
.avatar > img{
  width:100px;
  height:auto;
}